.mainBanner {
  position: relative;
  padding: 200px 0 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
}

.mainBanner::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  content: '';
  z-index: -1;
}

.bannerContent {
  position: relative;
  padding-right: 50px;
}

.bannerContent h1 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

/* .bannerContent h1 span {
  background: linear-gradient(to bottom, #e1d72b 0%, #815200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
} */
.bannerContent p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.bannerButton {
  position: relative;
  display: inline-flex;
  gap: 20;
  margin-top: 20px;
}

.bannerRight {
  position: relative;
  background: #1f2020;
  border: 1px solid #373737;
  padding: 20px;
  border-radius: 10px;
}

.bannerRight h4 {
  font-size: 30px;
  color: #368ede;
  font-weight: 500;
  margin-bottom: 20px;
}

.bannerRight p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}

.bannerRight span {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}


/* ===========about us========= */
.aboutUs {
  position: relative;
  padding: 85px 0;
  background-repeat: no-repeat;
  background-position: 13% center;
  background-color: #F3F9FF;
}

.aboutImg {
  position: relative;
  width: 100%;
}

.aboutImg img {
  width: 100%;
}

.aboutContent {
  padding-left: 50px;
}

.aboutContent p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6em;
  color: #414141;
  margin: 0 0 10px 0;
}


/* ============whyUs=========== */
.whyUs {
  position: relative;
  padding: 85px 0 0;
}

.rightItem p {
  font-size: 18px;
  font-weight: 500;
}

.eachItem {
  position: relative;
  padding: 30px 0;
}

.whyContent h4 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.whyContent p {
  font-size: 18px;
  font-weight: 500;
}

.eachImg {
  text-align: center;
}

.eachItem:nth-child(even) .row {
  flex-direction: row-reverse;
}


/*==========universities======= */
.universities {
  position: relative;
  padding: 85px 0;
  text-align: center;
}

.topSec {
  position: relative;
  padding-bottom: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.topSec p {
  font-size: 18px;
  font-weight: 500;
}

.eachCollege {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  border: #B1BAC4 1px solid;
}

.eachCollege img {
  height: 60px;
  width: auto;
}


/*============guidence=========== */
.guidence {
  position: relative;
  padding: 85px 0;
  background-color: #F3F9FF;
}

.guidence .topSec {
  text-align: center;
}

.eachGuidence {
  background: #FFF;
  border: #BAC7D5 1px solid;
  border-radius: 20px;
  padding: 30px;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 0 24px;
}

.eachGuidence h4 {
  color: #052515;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px;
}

.eachGuidence p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6em;
  color: #414141;
  margin: 0;
}

.serviceArea {
  position: relative;
  text-align: center;
  background-color: #368ede;
  padding: 40px;
  border-radius: 30px;
  position: relative;
}
.serviceArea .serviceHeading{
  text-align: center;
  color: #fff;
}
.serviceArea p{
   font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.serviceArea  ul{
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin-top: 40px;
}
.serviceArea  ul li{
  background: #fff;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}