.mainBanner {
  position: relative;
  padding: 80px 0 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
  background-color: #F3F9FF;
}

/* 
.mainBanner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #226cf5;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  -webkit-transform: scaleX(2.1);
  transform: scaleX(2.1);
  z-index: -1;
} */

.bannerContent {
  position: relative;
  padding-right: 50px;
  text-align: center;
}

.mainBanner h1 {
  font-size: 58px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 30px;
}

/* .bannerContent h1 span {
  background: linear-gradient(to bottom, #e1d72b 0%, #815200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
} */
/* styles.module.css */
.breadcrumbWrapper {
  margin-top: 10px;
  text-align: center;
  /* spacing below the heading */
}

.breadcrumb {
  background: transparent;
  padding: 0;
  font-size: 0.95rem;
  list-style: none;
}

.breadcrumbItem,
.breadcrumbItem a {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  font-size: 18px;
  color: #121212;

}

.chevron {
  margin: 0 10px;
}

.breadcrumbItem a:hover {
  text-decoration: underline;
}

.breadcrumbItem.active {
  color: #6c757d;
  /* current page color */
}

.bannerGraphics {
  position: absolute;
  bottom: 60px;
  right: 50px;
}

.bannerGraphicsOne {
  position: absolute;
  top: 0;
  left: 50px;
}

.bannerGraphicsOne img,
.bannerGraphics img {
  height: 175px;
  width: 175px;
}

.bannerButton {
  position: relative;
  display: inline-flex;
  gap: 20;
}

/* ===========about us========= */
.costs {
  position: relative;
  padding: 30px 0 40px;
  /* background: #f3f9ff; */
}

.scolarLeft img {
  width: 100%;
}

.socholarshipBox {
  border: 1px solid #b1bac4;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  height: 100%;
}



.socholarshipBox h5 {
  color: #414141;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.socholarshipBox p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.costs .topSec p {
  margin: 0;
}

.scolarRight ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.scolarRight ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scolarRight ul li p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.iconCircle {
  width: 50px;
  height: 50px;
  background-color: #e4e0ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.iconCircle img {
  width: 32px;
  height: 32px;
}

.eachIconWrap {
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  margin-bottom: 10px;
}
.eachIconWrap svg{
  font-size: 30px;
}
.universityScolarship{
  padding: 30px 0 40px;
}
.universityScolarship .topSec{
  text-align: center;
  margin-bottom: 30px;
}





/* ============whyUs=========== */
.whyUs {
  position: relative;
  /* padding: 85px 0 0; */
}

.rightItem p {
  font-size: 18px;
  font-weight: 500;
}

.eachItem {
  position: relative;
  padding: 30px 0;
}

.whyContent h4 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.whyContent ul li,
.whyContent p {
  font-size: 18px;
  font-weight: 500;
}

.eachImg {
  text-align: center;
}

.eachItem:nth-child(even) .row {
  flex-direction: row-reverse;
}

.whyContent ul {
  padding-left: 15px;
}

/*==========universities======= */
.universities {
  position: relative;
  padding: 85px 0;
  text-align: center;
}

.universities .topSec {
  position: relative;
  padding-bottom: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.topSec p {
  font-size: 18px;
  font-weight: 500;

}

.eachCollege {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  border: #B1BAC4 1px solid;
}

.eachCollege img {
  height: 60px;
  width: auto;
}


/*============guidence=========== */
.guidence {
  position: relative;
  padding: 85px 0;
  background-color: #F3F9FF;
}

.guidence .topSec {
  text-align: center;
}

.eachGuidence {
  background: #FFF;
  border: #BAC7D5 1px solid;
  border-radius: 20px;
  padding: 30px;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 0 24px;
}

.eachGuidence h4 {
  color: #052515;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px;
}

.eachGuidence p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6em;
  color: #414141;
  margin: 0;
}

.serviceArea {
  position: relative;
  text-align: center;
  background-color: #368ede;
  padding: 40px;
  border-radius: 30px;
  position: relative;
}

.serviceArea .serviceHeading {
  text-align: center;
  color: #fff;
}

.serviceArea p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.serviceArea ul {
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin-top: 40px;
}

.serviceArea ul li {
  background: #fff;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}

.whatWeOffer {
  padding: 55px 0;
  position: relative;
}

.whatWeRight {
  position: relative;
  width: 100%;
}

.whatWeRight h5 {
  font-size: 26px;
  font-weight: 700;
  color: #121212;
  margin-bottom: 15px;
}

.serviceWeProvide {
  position: relative;
  padding: 85px 0 0;
  background-color: #f6f5ef78;
}

.serviceLeft ul {
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}

.serviceLeft h5 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #052515;
}

.serviceLeft ul li {
  color: #414141;
  /* margin: 0 0 22px; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.serviceIcon {
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.serviceIcon img {
  width: 40px;
  height: 40px;
}

.serviceLeft ul li svg {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.serviceLeft ul li:hover {
  box-shadow: 0 0 10px 0;
}

.hatImg {
  position: absolute;
  left: 100%;
  top: 0px;
  margin-left: -105px;
  width: 150px;
}

.rightImg {
  width: 100%;
}

.serviceRight {
  text-align: right;
}

.eachService {
  background: #FFF;
  border: #BAC7D5 1px solid;
  border-radius: 20px;
  padding: 30px;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.eachService h5 {
  color: #414141;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6em;
  margin: 0;
}


.serviceLeft .topSec {
  text-align: center;
  margin-bottom: 40px;
}

.shape {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 0;
  width: 400px;
  opacity: 0.4;
}

.costs .topSec {
  max-width: 100%;
  text-align: left;
}


.costItem {
  position: relative;
  background: #FFF;
  border: #BAC7D5 1px solid;
  border-radius: 20px;
  padding: 30px;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.costItem h5 {
  color: #121212;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6em;
  margin: 0;
}

.costItem p {
  color: #414141;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6em;
  margin: 0;
}

.costItem ul {
  padding: 0;
  list-style: none;
}

.costItem ul li {
  display: flex;
  gap: 5px;
  color: #414141;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6em;
}

.costItem ul li svg {
  margin-top: 4px;
}

.costItem .icon img {
  width: 40px;
  height: 40px;
}












/* ================educational guidence============== */
.educationalJourney {
  position: relative;
  padding: 85px 0;
}

.journeyDetails p {
  font-size: 18px;
  font-weight: 500;
}

.journeyImg {
  width: 100%;
  display: block;
}

.journeyImg img {
  width: 100%;
  border-radius: 12px;
}

.educationalJourney .row {
  --bs-gutter-x: 50px;
}

.educationalJourney .row:nth-child(odd) {
  flex-direction: row-reverse;
  margin-bottom: 50px;
}


/* =================educationalJourney================ */
.guidenceForm {
  position: relative;
  padding: 85PX 0 85px 0;
}

.contactGraphicsOne {
  position: absolute;
  bottom: 10px;
  left: 70px;
}

.contactGraphicsTwo {
  position: absolute;
  top: 0;
  right: 65px;
}

.contactWrap {
  padding: 40px;
  position: relative;
  background: #f4f9ff;
  border-radius: 40px;
  z-index: 1;
}

/* .contactWrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #01016f;
  height: 100%;
  width: 575px;
  z-index: -1;
  border-radius: 40px 40px;
} */

.form {
  max-width: 500px;
  margin-left: auto;
}

.eachInput {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding: 16px 20px;
  color: #959595;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  background: #fff;
  width: 100%;
}

.eachInput:focus {
  outline: none;
  box-shadow: none;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.formGroup label {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}

/* ===================studentSupport======================= */
.studentSupport {
  position: relative;
  text-align: center;
  padding: 85px 0;
}

.studentSupport .topSec {
  max-width: 100%;
}

/* =============faq================== */
.faq {
  position: relative;
  padding: 85px 0;
  background: #f3f9ff;
}

.faq .topSec {
  text-align: center;
}

.accordWrap {
  width: 100%;
}

.accordItem+.accordItem {
  border-top: 1px solid #d4d4d4;
}

.accordHeader {
  display: flex;
  align-items: center;
  column-gap: 200px;
  padding: 30px 0 30px 180px;
  cursor: pointer;
  position: relative;
}

.accordNumber {
  color: #052515;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.accordTitle {
  flex: 1;
  font-size: 28px;
  color: #052515;
  font-weight: 600;
  margin: 0;
}

.accordIcon {
  margin-left: 12px;
  color: #052515;
  font-size: 22px;
}

.accordContent {
  padding-left: 180px;
  padding-bottom: 30px;
}

.accordContent p {
  width: 100%;
  max-width: 958px;
  color: #414141;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 768px) {
  .mainBanner {
    padding: 50px 0;
  }

  .mainBanner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .bannerContent {
    padding-right: 0;
  }

  .bannerButton {
    gap: 10px;
  }

  .bannerRow {
    flex-direction: column-reverse;
  }

  .bannerRight {
    margin-bottom: 20px;
  }

  .aboutUs {
    padding: 40px 0;
  }

  .aboutContent {
    padding-left: 0;
  }

  .whyUs {
    padding: 40px 0;
  }

  .whyContent h4 {
    font-size: 26px;
  }

  .universities {
    padding: 40px 0;
  }

  .eachCollege img {
    height: 50px;
  }

  .guidence {
    padding: 40px 0;
  }

  .eachGuidence h4 {
    font-size: 24px;
  }

  .icon {
    width: 55px;
    height: 55px;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .serviceArea {
    padding: 20px;
    text-align: left;
  }

  .serviceArea .serviceHeading {
    text-align: left;
  }

  .serviceArea ul {
    grid-template-columns: auto;
  }

  .educationalJourney {
    padding: 40px 0;
  }

  .contactWrap {
    padding: 20px;
    border-radius: 20px;
  }

  .studentSupport {
    padding: 40px 0;
  }

  .studentSupport .topSec {
    padding-bottom: 0;
  }

  .faq {
    padding: 40px 0;
  }

  .accordHeader {
    padding: 20px 0 20px 50px;
    column-gap: 0;
  }

  .accordTitle {
    font-size: 20px;
  }

  .accordContent {
    padding-left: 50px;
  }

  .accordContent p {
    font-size: 16px;
  }
}