.mainBanner {
  position: relative;
  padding: 80px 0 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
  background-color: #F3F9FF;
}

/* 
.mainBanner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #226cf5;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  -webkit-transform: scaleX(2.1);
  transform: scaleX(2.1);
  z-index: -1;
} */

.bannerContent {
  position: relative;
  padding-right: 50px;
  text-align: center;
}

.mainBanner h1 {
  font-size: 58px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 30px;
}

/* .bannerContent h1 span {
  background: linear-gradient(to bottom, #e1d72b 0%, #815200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
} */
/* styles.module.css */
.breadcrumbWrapper {
  margin-top: 10px;
  text-align: center;
  /* spacing below the heading */
}

.breadcrumb {
  background: transparent;
  padding: 0;
  font-size: 0.95rem;
  list-style: none;
}

.breadcrumbItem,
.breadcrumbItem a {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  font-size: 18px;
  color: #121212;

}

.chevron {
  margin: 0 10px;
}

.breadcrumbItem a:hover {
  text-decoration: underline;
}

.breadcrumbItem.active {
  color: #6c757d;
  /* current page color */
}

.bannerGraphics {
  position: absolute;
  bottom: 60px;
  right: 50px;
}

.bannerGraphicsOne {
  position: absolute;
  top: 0;
  left: 50px;
}

.bannerGraphicsOne img,
.bannerGraphics img {
  height: 175px;
  width: 175px;
}

.bannerButton {
  position: relative;
  display: inline-flex;
  gap: 20;
}

/* ===========whatWeOffer================ */
.whatWeOffer{
  position: relative;
  padding: 60px 0 30px;
}

/* ===========about us========= */
.costs {
  position: relative;
  padding: 30px 0 40px;
  /* background: #f3f9ff; */
}

.scolarLeft img {
  width: 100%;
}

.socholarshipBox {
  border: 1px solid #b1bac4;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  height: 100%;
}



.socholarshipBox h5 {
  color: #414141;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.socholarshipBox p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.costs .topSec p {
  margin: 0;
}

.scolarRight ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;
  align-items: center;
}

.scolarRight ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scolarRight ul li p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.iconCircle {
  width: 50px;
  height: 50px;
  background-color: #e4e0ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.iconCircle img {
  width: 32px;
  height: 32px;
}

.eachIconWrap {
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  margin-bottom: 10px;
}
.eachIconWrap svg{
  font-size: 30px;
}
.universityScolarship{
  padding: 50px 0 40px;
  position: relative;
  background-color: #fbfbfb;
}
.universityScolarship .topSec{
  text-align: center;
  margin-bottom: 30px;
}





/* ============whyUs=========== */
.whyUs {
  position: relative;
  /* padding: 85px 0 0; */
}

.rightItem p {
  font-size: 18px;
  font-weight: 500;
}

.eachItem {
  position: relative;
  padding: 30px 0;
}

.whyContent h4 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.whyContent ul li,
.whyContent p {
  font-size: 18px;
  font-weight: 500;
}

.eachImg {
  text-align: center;
}

.eachItem:nth-child(even) .row {
  flex-direction: row-reverse;
}

.whyContent ul {
  padding-left: 15px;
}

/*==========universities======= */
.universities {
  position: relative;
  padding: 85px 0;
  text-align: center;
}

.universities .topSec {
  position: relative;
  padding-bottom: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.topSec p {
  font-size: 18px;
  font-weight: 500;

}

/* ================indianStudents================ */

.indianStudents{
  position: relative;
  padding: 50px 0;
}
.indianStudents .topSec{
  margin-bottom: 40px;
}

/* ==================internalScholarship==================== */
.internalScholarship{
  position: relative;
  padding: 50px 0;
  background: #fbfbfb;
}


.costs .topSec {
  max-width: 100%;
  text-align: left;
}
.costItem {
  position: relative;
  background: #FFF;
  border: #BAC7D5 1px solid;
  border-radius: 20px;
  padding: 30px;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.costItem h5 {
  color: #121212;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6em;
  margin: 0;
}

.costItem p {
  color: #414141;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6em;
  margin: 0;
}

.costItem ul {
  padding: 0;
  list-style: none;
}

.costItem ul li {
  display: flex;
  gap: 5px;
  color: #414141;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6em;
}

.costItem ul li svg {
  margin-top: 4px;
}

.costItem .icon img {
  width: 40px;
  height: 40px;
}


/* =================educationalJourney================ */
.guidenceForm {
  position: relative;
  padding: 85PX 0 85px 0;
}

.contactGraphicsOne {
  position: absolute;
  bottom: 10px;
  left: 70px;
}

.contactGraphicsTwo {
  position: absolute;
  top: 0;
  right: 65px;
}

.contactWrap {
  padding: 40px;
  position: relative;
  background: #f4f9ff;
  border-radius: 40px;
  z-index: 1;
}

/* .contactWrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #01016f;
  height: 100%;
  width: 575px;
  z-index: -1;
  border-radius: 40px 40px;
} */

.form {
  max-width: 500px;
  margin-left: auto;
}

.eachInput {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding: 16px 20px;
  color: #959595;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  background: #fff;
  width: 100%;
}

.eachInput:focus {
  outline: none;
  box-shadow: none;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.formGroup label {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}

/* ===================studentSupport======================= */
.studentSupport {
  position: relative;
  text-align: center;
  padding: 85px 0;
}

.studentSupport .topSec {
  max-width: 100%;
}



@media (max-width: 768px) {
  .mainBanner {
    padding: 50px 0;
  }

  .mainBanner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .bannerContent {
    padding-right: 0;
  }

  .bannerButton {
    gap: 10px;
  }

  .bannerRow {
    flex-direction: column-reverse;
  }

  .bannerRight {
    margin-bottom: 20px;
  }

  .aboutUs {
    padding: 40px 0;
  }

  .aboutContent {
    padding-left: 0;
  }

  .whyUs {
    padding: 40px 0;
  }

  .whyContent h4 {
    font-size: 26px;
  }

  .universities {
    padding: 40px 0;
  }

  .eachCollege img {
    height: 50px;
  }

  .guidence {
    padding: 40px 0;
  }

  .eachGuidence h4 {
    font-size: 24px;
  }

  .icon {
    width: 55px;
    height: 55px;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .serviceArea {
    padding: 20px;
    text-align: left;
  }

  .serviceArea .serviceHeading {
    text-align: left;
  }

  .serviceArea ul {
    grid-template-columns: auto;
  }

  .educationalJourney {
    padding: 40px 0;
  }

  .contactWrap {
    padding: 20px;
    border-radius: 20px;
  }

  .studentSupport {
    padding: 40px 0;
  }

  .studentSupport .topSec {
    padding-bottom: 0;
  }

  .faq {
    padding: 40px 0;
  }

  .accordHeader {
    padding: 20px 0 20px 50px;
    column-gap: 0;
  }

  .accordTitle {
    font-size: 20px;
  }

  .accordContent {
    padding-left: 50px;
  }

  .accordContent p {
    font-size: 16px;
  }
}