.topHeader {
  background-color: #0e4d8d;
  padding: 10px 0;
}

.topHeaderWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topHeaderLeft ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 0;
  padding: 0;
}

.topHeaderRight ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
  padding: 0;
}

.topHeaderWrap a {
  color: #fff;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
}

.topHeaderWrap svg {
  font-size: 18px;
  margin-right: 8px;
  color: #fff;
  vertical-align: middle;
}

.topMenu ul {
  list-style: none;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 0;
  padding: 0;
}

.topMenu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "Aileron", sans-serif;
  cursor: pointer;
}

.globeIcon {
  font-size: 28px;
}

.topMenu ul li a:hover {
  color: #ec6433;
}

/* .main_header {
  position: absolute;
  width: 100%;
} */
.header {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.main_header {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 25px 0;
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #1b1b1b1f;
}

.main_header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: 0.7s ease-in-out 0s normal none 1 running vlfadeInDown;
}

@keyframes vlfadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLogo img {
  transition: transform 0.3s;
  width: 215px;
}

.main_header.sticky .mainLogo img {
  transform: scale(0.9);
}



.cmnBtn::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  transition: all 500ms ease;
  background: linear-gradient(97.23deg, #F8B018 0%, #FED658 100%);
}

.cmnBtn:hover:before {
  width: 100%;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center
}


.nav {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.navBtn {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #273474;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.eachNav {
  position: relative;
}

.eachNavMenu {
  text-decoration: none;
  color: #121212;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s;
  font-weight: 700;
  cursor: pointer;
}

.eachNav.active .eachNavMenu,
.eachNavMenu:hover {
  opacity: 1;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 3px;
}

.chevronIcon {
  font-size: 22px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  list-style: none;
  margin: 0;
  min-width: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 0;
}


.subMenu li a {
  text-decoration: none;
  color: #121212;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s;
  font-weight: 700;
  cursor: pointer;
  padding: 12px 20px;
  display: block;
}

.subMenu li:hover {
  background: #273474;
}

.subMenu li:hover a {
  color: #fff;
}

/* Responsive Design */

@media (max-width: 992px) {
  .eachNavMenu {
    font-size: 12px !important;
  }

  .topBar {
    display: none;
  }

  .navWrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .subMenu li {
    padding: 0;
  }

  .subMenu li a,
  .nav span,
  .nav a {
    padding: 10px 12px;
    width: 100%;
    display: block;
    color: #fff;
    position: relative;
    font-size: 12px;
  }

  .subMenu li a {
    padding: 10px 18px;
  }

  .subMenu {
    position: static;
    box-shadow: none;
    background: #b42126;
    width: 100%;
  }

  .nav span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: block;
    width: 100%;
  }

  .eachNavMenuIcon {
    position: absolute;
    top: 10px;
    font-size: 20px;
    right: 10px;
  }

  .megamenuTitle {
    display: none;
  }

  .megaMenuWrapper {
    position: static;
  }

  .megaMenuRightWrap .imdustryImg img,
  .imdustryImg {
    display: none;
  }

  .megaMenuRightWrap .imdustryImg {
    display: block;
  }

  .megaMenuRight {
    display: block;
  }

  .megaMenuRight .menuBtn {
    display: none;
  }

  .megaMenuLeft {
    padding: 0;
    display: block;
  }

  .megaMenu {
    background: #000;
    padding: 0 0;
  }

  .megaMenuRight .megaMenuBtn,
  .dropdownMenu ul li a,
  .megaMenu ul li a {
    font-size: 14px;
    display: block;
    padding: 6px 12px;
  }

  .dropdownMenu {
    position: static;
    padding: 0 10px;
    background: #000;
  }

  .dropdownMenu ul {
    padding: 0;
    margin: 0;
    display: block;
  }

  .seeAll {
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ffffff29;
  }

  .socialIcon {
    padding: 10px 12px;
  }
}

@media (max-width: 768px) {
  .topHeader {
    display: none;
  }

  .topBar {
    padding: 7px 0;
  }

  .main_header {
    padding: 12px 0;
  }

  .mainLogo img {
    width: 180px;
  }


  .contactBtn {
    display: none;
  }

  .navContainer {
    width: 100%;
    height: 100%;
    float: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;
    padding: 70px 0 0;
    background: #273474;
    display: block;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }

  .navContainer.showNav {
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .nav {
    flex-direction: column;
    padding: 0;
    gap: 0;
    list-style: none;
  }

  .nav.open {
    display: flex;
  }

  .eachNav {
    position: relative;
  }

  .closeNav {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
  }

  .closeNavBtn {
    background: transparent;
    border: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }

  .hamburger {
    display: block;
  }

  .topMenu {
    justify-content: center;
  }

  .topMenu ul li a {
    font-size: 12px;
  }
  .chevronIcon{
    position: absolute;
    right: 10px;
  }
}