.footer {
    background: #fff;
    color: #fff;
    padding: 20px 0;
}

.footer a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.footer_nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.eachNavMenu:hover {
    color: #273474;
}

.copyright_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyright_nav p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}